

.pago {
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 200px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    ;
}

figcaption {
  display:none; 
  transition: all .5s;
}

figure:hover > figcaption {
  display:block;
  transition: all .5s;
